params {
    config_profile_contact = 'Erkut Ilaslan <erkutilas@sund.ku.dk>'
    config_profile_description = 'marvin configuration'
    config_profile_url = ''

    // General cpus/memory/time requirements
    max_cpus = 8
    max_memory = 64.GB
    max_time = 12.h
}

process {
    executor = 'slurm'

}

executor {
    queueSize = 5
}
